body {
    font-family: "Montserrat-Bold", sans-serif;
    height: 100%;
    position: relative;
}

.jumbotron {
    background: url(../images/otaru.png) no-repeat center 30%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 780px;
    padding-top: 25%;
    padding-bottom: 20%;
    color: #444444;
    margin-bottom: 0;
}

.jumbotron h1 {
    line-height: 3;
}

.navbar-fixed-top {
    background-color: transparent;
    border-bottom: none;
    padding-bottom: 0;
    padding-top: 10px;
    transition: all 0.3s;
}

.custom-nav .navbar-brand {
    padding: 10px 20px 10px 0;
    font-size: 24px;
    color: #444444;
    text-decoration: none;
    font-weight: bold;
    margin-right: 0;
    float: left;
}

.custom-nav .navbar-brand:hover, .custom-nav .navbar-brand:focus {
    color: #222222;
}

div#custom-nav-menu {
    border: none;
}

div#custom-nav-menu.navbar-collapse.collapse.in{
    clear: left;
}

button.navbar-toggle.collapsed.custom-nav-button {
    border: none;
}

.custom-nav li {
    display: inline-block;
    padding: 10px 0.2em 0 0.2em;
}

.custom-nav a {
    color: #444444;
    text-decoration: none;
}

.custom-nav a:hover, .custom-nav a:focus {
    color: #222222;
    text-decoration: none;
}

.navbar-toggle .collapsed span {
    color: #E74C3C;
}

.scrolled .navbar-toggle .collapsed {
    background-color: #2C3E50;
    transition: all 0.5s;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

/* Scrolled */

.scrolled .navbar-fixed-top {
    background-color: #2C3E50;
    transition: all 0.5s;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.header .container {
    padding-top: 10px;
}

.scrolled .custom-nav .navbar-brand {
    color: #ECF0F1;
}

.scrolled .custom-nav .navbar-brand:hover, .custom-nav .navbar-brand:focus {
    color: #E74C3C;
}

.scrolled .custom-nav a {
    color: #ECF0F1;
}

.scrolled .custom-nav a:hover, .custom-nav a:focus, .scrolled .custom-nav a:focus {
    color: #E74C3C;
}



/* Supporting */

.supporting {
    min-height: 780px;
    background-color: #2980B9;
    color: #ECF0F1;
}

div#education {
    padding-bottom: 0;
}

div#skills {
    padding-top: 10%;
}

/* Main */

.main {
    background-color: #ECF0F1;
    color: #444444;
}

.main p {
    font-family: "Merriweather", serif;
}

.main h2 {
    padding-bottom: 10px;
}

.main h3 {
    padding-bottom: 5px;
}

div.main>div.container>div.row.padded-row {
    padding-top: 10%;
    padding-bottom: 10%;
}

div.main>div.container>div.row.padded-row#projects {
    padding-bottom: 0;
}

div.supporting>div.container>div.row.padded-row {
    padding-top: 10%;
    padding-bottom: 10%;
}


/*.main p:nth-child(2):first-letter {
    float: left;
    font-size: 50px;
    line-height: 40px;
    padding-right: 5px;
}
*/

#profile div {
    padding: 30px 30px 30px 30px;
}

#profile .img-responsive {
    margin: 0 auto;
} 

.img-thumbnail {
    padding: 10px 10px 10px 10px;
}

/* Footer */ 

.footer {
    padding-top: 10px;
    font-size: 10px;
    text-align: center;
    font-family: "Montserrat";
    background-color: #E74C3C;
    color: #ECF0F1;
}

#social div:first-child {
    text-align: left;
}

#social div:nth-child(2) {
    text-align: center;
}

#social div:nth-child(3) {
    text-align: right;
}

.footer a {
    color: #ECF0F1;
}

.footer a:hover, .footer a:focus {
    color: #2C3E50;
    text-decoration: none;
}

@font-face {
    font-family: "Merriweather";
    src: url(../fonts/Merriweather-Regular.ttf);
}

@font-face {
    font-family: "Montserrat-Bold";
    src: url(../fonts/Montserrat-Bold.ttf);
}

@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat-Regular.ttf);
}